Lab2/data/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Exercise1",
        "disabled": false,
        "locked": true,
        "info": ""
    },
    {
        "id": "ed7039e9c181697a",
        "type": "tab",
        "label": "Exercise2",
        "disabled": false,
        "locked": true,
        "info": "",
        "env": []
    },
    {
        "id": "aeba193998a13412",
        "type": "tab",
        "label": "Exercise3",
        "disabled": false,
        "locked": true,
        "info": "",
        "env": []
    },
    {
        "id": "4c5564fd4a09443c",
        "type": "tab",
        "label": "Exercise4",
        "disabled": false,
        "locked": true,
        "info": "",
        "env": []
    },
    {
        "id": "b2d44119e719e3aa",
        "type": "tab",
        "label": "Exercise5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fa176559bc25817e",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "showPageTitle": true,
        "navigationStyle": "default",
        "titleBarStyle": "default"
    },
    {
        "id": "4963de6791caef1d",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "3618ef28e650a2fb",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "fa176559bc25817e",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "4963de6791caef1d",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "fd1fef41c411b830",
        "type": "ui-group",
        "name": "Flow Exercise 4",
        "page": "3618ef28e650a2fb",
        "width": "8",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "0f047f36748d11cd",
        "type": "ui-spacer",
        "group": "fd1fef41c411b830",
        "name": "spacer",
        "tooltip": "",
        "order": 5,
        "width": 1,
        "height": 1,
        "className": ""
    },
    {
        "id": "46bd94d92f868fab",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "helloW",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello World",
        "payloadType": "str",
        "x": 310,
        "y": 240,
        "wires": [
            [
                "dbfb3ba5e96a304b"
            ]
        ]
    },
    {
        "id": "dbfb3ba5e96a304b",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 240,
        "wires": []
    },
    {
        "id": "a6ebf50d6dd18a7a",
        "type": "inject",
        "z": "ed7039e9c181697a",
        "name": "helloW",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello World",
        "payloadType": "str",
        "x": 370,
        "y": 240,
        "wires": [
            [
                "0c8b48560d567d48"
            ]
        ]
    },
    {
        "id": "8d878e3f542a6313",
        "type": "debug",
        "z": "ed7039e9c181697a",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 240,
        "wires": []
    },
    {
        "id": "0c8b48560d567d48",
        "type": "change",
        "z": "ed7039e9c181697a",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "World",
                "fromt": "str",
                "to": "Mars",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 240,
        "wires": [
            [
                "8d878e3f542a6313"
            ]
        ]
    },
    {
        "id": "77e3f78674cbe584",
        "type": "inject",
        "z": "aeba193998a13412",
        "name": "inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "b028659318923450"
            ]
        ]
    },
    {
        "id": "b028659318923450",
        "type": "http request",
        "z": "aeba193998a13412",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.csv",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 410,
        "y": 300,
        "wires": [
            [
                "d9befb6decaa55a1"
            ]
        ]
    },
    {
        "id": "d9befb6decaa55a1",
        "type": "csv",
        "z": "aeba193998a13412",
        "name": "",
        "spec": "rfc",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 590,
        "y": 300,
        "wires": [
            [
                "88e8d0ea51aaa74c",
                "9f404723222c6d7a"
            ]
        ]
    },
    {
        "id": "88e8d0ea51aaa74c",
        "type": "debug",
        "z": "aeba193998a13412",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 300,
        "wires": []
    },
    {
        "id": "9f404723222c6d7a",
        "type": "switch",
        "z": "aeba193998a13412",
        "name": "",
        "property": "payload.mag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "6",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 790,
        "y": 400,
        "wires": [
            [
                "3c60c343fa4c53ee"
            ]
        ]
    },
    {
        "id": "3c60c343fa4c53ee",
        "type": "change",
        "z": "aeba193998a13412",
        "name": "Change",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "PANIC!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 400,
        "wires": [
            [
                "7783c30659d2f56a"
            ]
        ]
    },
    {
        "id": "7783c30659d2f56a",
        "type": "debug",
        "z": "aeba193998a13412",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 400,
        "wires": []
    },
    {
        "id": "f722bdc9d21aeac1",
        "type": "inject",
        "z": "4c5564fd4a09443c",
        "name": "timestamp",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 335,
        "y": 210,
        "wires": [
            [
                "e5d694553c2c1835",
                "75383ce9fc23d61f",
                "6f7e03d0e502da99",
                "edd1e4c7947a8d8e"
            ]
        ],
        "l": false
    },
    {
        "id": "e5d694553c2c1835",
        "type": "debug",
        "z": "4c5564fd4a09443c",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 50,
        "wires": []
    },
    {
        "id": "75383ce9fc23d61f",
        "type": "ui-text",
        "z": "4c5564fd4a09443c",
        "group": "fd1fef41c411b830",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "EPOCH",
        "label": "EPOCH",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 800,
        "y": 120,
        "wires": []
    },
    {
        "id": "09cfbf0576cd164a",
        "type": "ui-text",
        "z": "4c5564fd4a09443c",
        "group": "fd1fef41c411b830",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Date Time Format 2",
        "label": "Date Time Format 2",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 1060,
        "y": 220,
        "wires": []
    },
    {
        "id": "ad325d6cb755c036",
        "type": "ui-text",
        "z": "4c5564fd4a09443c",
        "group": "fd1fef41c411b830",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Date Time Format 1",
        "label": "Date Time Format 1",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 840,
        "y": 360,
        "wires": []
    },
    {
        "id": "17f9a889672697f1",
        "type": "debug",
        "z": "4c5564fd4a09443c",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 290,
        "wires": []
    },
    {
        "id": "4d7c4e947046e03e",
        "type": "debug",
        "z": "4c5564fd4a09443c",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 430,
        "wires": []
    },
    {
        "id": "6dfcd40e6f27103d",
        "type": "rbe",
        "z": "4c5564fd4a09443c",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 790,
        "y": 220,
        "wires": [
            [
                "09cfbf0576cd164a"
            ]
        ]
    },
    {
        "id": "6f7e03d0e502da99",
        "type": "moment",
        "z": "4c5564fd4a09443c",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europa/Berlin",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "DD/MM/YY HH:mm:ss",
        "locale": "en-US",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europa/Berlin",
        "x": 560,
        "y": 280,
        "wires": [
            [
                "6dfcd40e6f27103d",
                "17f9a889672697f1"
            ]
        ]
    },
    {
        "id": "edd1e4c7947a8d8e",
        "type": "moment",
        "z": "4c5564fd4a09443c",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europa/Berlin",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "dddd, MMMM Do YYYY, h:mm:ss a",
        "locale": "en-US",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europa/Berlin",
        "x": 570,
        "y": 380,
        "wires": [
            [
                "ad325d6cb755c036",
                "4d7c4e947046e03e"
            ]
        ]
    },
    {
        "id": "67e57f32dc547dc3",
        "type": "inject",
        "z": "b2d44119e719e3aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "900",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 160,
        "wires": [
            [
                "ba2fbc9bc5248394"
            ]
        ]
    },
    {
        "id": "72b1d8283cb504d1",
        "type": "http request",
        "z": "b2d44119e719e3aa",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "https://api.weatherapi.com/v1/forecast.json?q=Konstanz&days=2&aqi=yes&alerts=no",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 440,
        "y": 160,
        "wires": [
            [
                "cb8181373aea2a02"
            ]
        ]
    },
    {
        "id": "4e8b68a4b8f4cdbf",
        "type": "ui-gauge",
        "z": "b2d44119e719e3aa",
        "name": "Current temperature",
        "group": "fd1fef41c411b830",
        "order": 4,
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Current temperature",
        "units": "C°",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "-20",
                "color": "#5d74d7"
            },
            {
                "from": "-10",
                "color": "#00b3ff"
            },
            {
                "from": "-5",
                "color": "#5bd3e2"
            },
            {
                "from": "0",
                "color": "#53eac4"
            },
            {
                "from": "5",
                "color": "#67e49d"
            },
            {
                "from": "10",
                "color": "#7be234"
            },
            {
                "from": "15",
                "color": "#cce83e"
            },
            {
                "from": "20",
                "color": "#f3c937"
            },
            {
                "from": "25",
                "color": "#f09c29"
            },
            {
                "from": "30",
                "color": "#ef5f20"
            }
        ],
        "min": "-20",
        "max": "40",
        "sizeThickness": 16,
        "sizeGap": "2",
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1030,
        "y": 160,
        "wires": []
    },
    {
        "id": "cb8181373aea2a02",
        "type": "json",
        "z": "b2d44119e719e3aa",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 590,
        "y": 160,
        "wires": [
            [
                "5be0fba0b552050c",
                "7e7fc1fff40a594a",
                "157fa286029f52d7"
            ]
        ]
    },
    {
        "id": "77d69de2e99585fb",
        "type": "ui-text",
        "z": "b2d44119e719e3aa",
        "group": "fd1fef41c411b830",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current weather:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 1020,
        "y": 260,
        "wires": []
    },
    {
        "id": "5be0fba0b552050c",
        "type": "template",
        "z": "b2d44119e719e3aa",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.current.temp_c}}",
        "output": "str",
        "x": 790,
        "y": 160,
        "wires": [
            [
                "4e8b68a4b8f4cdbf"
            ]
        ]
    },
    {
        "id": "7e7fc1fff40a594a",
        "type": "template",
        "z": "b2d44119e719e3aa",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "The wather in {{payload.location.name}} at coordinates: {{payload.location.lat}}, {{payload.location.lon}} is {{payload.current.condition.text}}.",
        "output": "str",
        "x": 790,
        "y": 250,
        "wires": [
            [
                "77d69de2e99585fb"
            ]
        ]
    },
    {
        "id": "36331fa94bbacdee",
        "type": "ui-chart",
        "z": "b2d44119e719e3aa",
        "group": "fd1fef41c411b830",
        "name": "humidity",
        "label": "Humidity",
        "order": 7,
        "chartType": "line",
        "category": "",
        "categoryType": "str",
        "xAxisLabel": "",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "HH:mm",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "humidity",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "cross",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "3",
        "height": "6",
        "className": "",
        "interpolation": "linear",
        "x": 980,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "ac9f2adfe1a7fa24",
        "type": "ui-chart",
        "z": "b2d44119e719e3aa",
        "group": "fd1fef41c411b830",
        "name": "temperature",
        "label": "Temperature",
        "order": 8,
        "chartType": "line",
        "category": "",
        "categoryType": "str",
        "xAxisLabel": "",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "HH:mm",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "temp",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "cross",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "3",
        "height": "6",
        "className": "",
        "interpolation": "linear",
        "x": 990,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "157fa286029f52d7",
        "type": "function",
        "z": "b2d44119e719e3aa",
        "name": "function 1",
        "func": "const values = msg.payload.forecast.forecastday[0].hour;\n\nconst payload = values.map(d => ({\n    x: new Date(d.time),\n    humidity: d.humidity,\n    temp: d.temp_c\n})).filter(d => d.x <= new Date());\n\nreturn {\n    payload\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 320,
        "wires": [
            [
                "36331fa94bbacdee",
                "ac9f2adfe1a7fa24"
            ]
        ]
    },
    {
        "id": "ba2fbc9bc5248394",
        "type": "change",
        "z": "b2d44119e719e3aa",
        "name": "add api key",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.key",
                "pt": "msg",
                "to": "RED_WEATHER_API_KEY",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 160,
        "wires": [
            [
                "72b1d8283cb504d1"
            ]
        ]
    }
]