Lab3/src/ex2.json
[
    {
        "id": "4a48d8ab1d6e8ec7",
        "type": "tab",
        "label": "Lab3_exercise2",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "54418d6ee1046bea",
        "type": "serial in",
        "z": "4a48d8ab1d6e8ec7",
        "name": "Temperature Sensor",
        "serial": "47217533c577d375",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "7288a277cddccb35",
                "88cb3e3e4252b52b",
                "6a3d9455fd6c2ea5"
            ]
        ]
    },
    {
        "id": "7288a277cddccb35",
        "type": "debug",
        "z": "4a48d8ab1d6e8ec7",
        "name": "Serial-Input String",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "88cb3e3e4252b52b",
        "type": "ui_gauge",
        "z": "4a48d8ab1d6e8ec7",
        "name": "",
        "group": "6ad1775ebdee8236",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#0073ff",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "15",
        "seg2": "25",
        "diff": false,
        "className": "",
        "x": 330,
        "y": 120,
        "wires": []
    },
    {
        "id": "6a3d9455fd6c2ea5",
        "type": "ui_chart",
        "z": "4a48d8ab1d6e8ec7",
        "name": "",
        "group": "6ad1775ebdee8236",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Temperature Course",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 360,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "47217533c577d375",
        "type": "serial-port",
        "name": "Serial_In",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "6ad1775ebdee8236",
        "type": "ui_group",
        "name": "Real Time Temperature",
        "tab": "aa42ee4fb8892683",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aa42ee4fb8892683",
        "type": "ui_tab",
        "name": "Temperature",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]