Lab3/src/ex3.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Exercise3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "65bbecb60da143b3",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "TEMPERATURE",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "09f5e71d7b2d699e",
        "x": 710,
        "y": 460,
        "wires": []
    },
    {
        "id": "35d0d9ffe590a785",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 160,
        "wires": []
    },
    {
        "id": "c876278dc73b2da8",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "TEMPERATURE",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "09f5e71d7b2d699e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 280,
        "wires": [
            [
                "35d0d9ffe590a785",
                "451d3bfdef14e1a1",
                "0199271ada04ec41",
                "5d148015f8e7494c"
            ]
        ]
    },
    {
        "id": "451d3bfdef14e1a1",
        "type": "ui-gauge",
        "z": "f6f2187d.f17ca8",
        "name": "temp in c - gauge",
        "group": "8223a67c344edad0",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "gauge",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "-20",
                "color": "#00fffb"
            },
            {
                "from": "-5",
                "color": "#00ff1e"
            },
            {
                "from": "10",
                "color": "#ffea00"
            },
            {
                "from": "25",
                "color": "#ff0000"
            }
        ],
        "min": "-20",
        "max": "40",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 510,
        "y": 200,
        "wires": []
    },
    {
        "id": "0199271ada04ec41",
        "type": "ui-chart",
        "z": "f6f2187d.f17ca8",
        "group": "8223a67c344edad0",
        "name": "temp in c - chart",
        "label": "chart",
        "order": 2,
        "chartType": "line",
        "category": "",
        "categoryType": "none",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": "4",
        "className": "",
        "interpolation": "linear",
        "x": 500,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "927bc985dd7ffdbc",
        "type": "ui-gauge",
        "z": "f6f2187d.f17ca8",
        "name": "temp in f - gauge",
        "group": "4efcb1712914b578",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "gauge",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "-4",
                "color": "#00fffb"
            },
            {
                "from": "23",
                "color": "#00ff1e"
            },
            {
                "from": "50",
                "color": "#ffea00"
            },
            {
                "from": "77",
                "color": "#ff0000"
            }
        ],
        "min": "-4",
        "max": "104",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 710,
        "y": 300,
        "wires": []
    },
    {
        "id": "5ad999f1f3d1e88e",
        "type": "ui-chart",
        "z": "f6f2187d.f17ca8",
        "group": "4efcb1712914b578",
        "name": "temp in c - gauge",
        "label": "chart",
        "order": 2,
        "chartType": "line",
        "category": "",
        "categoryType": "none",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": "4",
        "className": "",
        "interpolation": "linear",
        "x": 710,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "5d148015f8e7494c",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 2",
        "func": "\nreturn {\n    payload: (msg.payload * 9) / 5 + 32\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 320,
        "wires": [
            [
                "927bc985dd7ffdbc",
                "5ad999f1f3d1e88e"
            ]
        ]
    },
    {
        "id": "38229852a62afcbd",
        "type": "serial in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "serial": "47217533c577d375",
        "x": 140,
        "y": 400,
        "wires": [
            [
                "d2d7657987f6124b"
            ]
        ]
    },
    {
        "id": "fc70873d68fd0f3b",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 520,
        "wires": []
    },
    {
        "id": "d2d7657987f6124b",
        "type": "rbe",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 310,
        "y": 440,
        "wires": [
            [
                "65bbecb60da143b3",
                "fc70873d68fd0f3b"
            ]
        ]
    },
    {
        "id": "09f5e71d7b2d699e",
        "type": "mqtt-broker",
        "name": "hivemq",
        "broker": "0ce4f98a1e294ff6bb15b35cdba534a2.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "a0b43638766d9bf1",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8223a67c344edad0",
        "type": "ui-group",
        "name": "Temperature in °C",
        "page": "e48bed0328e46980",
        "width": "6",
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "4efcb1712914b578",
        "type": "ui-group",
        "name": "Temperature in °F",
        "page": "e48bed0328e46980",
        "width": "6",
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "47217533c577d375",
        "type": "serial-port",
        "name": "Serial_In",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "a0b43638766d9bf1",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "0ce4f98a1e294ff6bb15b35cdba534a2",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "e48bed0328e46980",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "60ad56fe32931ef2",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "8a18294d4800b0fb",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "60ad56fe32931ef2",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "showPageTitle": true,
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true
    },
    {
        "id": "8a18294d4800b0fb",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    }
]