Lab3/ex2.json
[
    {
        "id": "c8ec8db3a0c79615",
        "type": "tab",
        "label": "Lab3_exercise1_sync",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "f74259f94cd568e5",
        "type": "ui_switch",
        "z": "c8ec8db3a0c79615",
        "name": "",
        "label": "LED",
        "tooltip": "",
        "group": "404b654bd34371a7",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 450,
        "y": 60,
        "wires": [
            [
                "e62b9ba66a5f3cae",
                "53ec3bb0c662f9d2"
            ]
        ]
    },
    {
        "id": "53ec3bb0c662f9d2",
        "type": "serial out",
        "z": "c8ec8db3a0c79615",
        "name": "Serial_Out",
        "serial": "62f9f371d6641935",
        "x": 610,
        "y": 120,
        "wires": []
    },
    {
        "id": "84e353cb18255012",
        "type": "serial in",
        "z": "c8ec8db3a0c79615",
        "name": "Serial_In",
        "serial": "47217533c577d375",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "c463cbbd2bb51804"
            ]
        ]
    },
    {
        "id": "e62b9ba66a5f3cae",
        "type": "ui_led",
        "z": "c8ec8db3a0c79615",
        "order": 1,
        "group": "404b654bd34371a7",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffdd00",
                "value": "1",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": true,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 590,
        "y": 60,
        "wires": []
    },
    {
        "id": "c463cbbd2bb51804",
        "type": "function",
        "z": "c8ec8db3a0c79615",
        "name": "strip_new_line",
        "func": "msg.payload = msg.payload.trim();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 80,
        "wires": [
            [
                "f74259f94cd568e5",
                "53ec3bb0c662f9d2"
            ]
        ]
    },
    {
        "id": "404b654bd34371a7",
        "type": "ui_group",
        "name": "Light Control",
        "tab": "fb02e4c99012a224",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "62f9f371d6641935",
        "type": "serial-port",
        "name": "Serial_Out",
        "serialport": "/dev/tty.usbmodem11201",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "47217533c577d375",
        "type": "serial-port",
        "name": "Serial_In",
        "serialport": "/dev/tty.usbmodem11201",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "fb02e4c99012a224",
        "type": "ui_tab",
        "name": "LED",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]