Lab2/flows/exercise3.json
[
    {
        "id": "aeba193998a13412",
        "type": "tab",
        "label": "Exercise3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "77e3f78674cbe584",
        "type": "inject",
        "z": "aeba193998a13412",
        "name": "inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "b028659318923450"
            ]
        ]
    },
    {
        "id": "b028659318923450",
        "type": "http request",
        "z": "aeba193998a13412",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.csv",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 410,
        "y": 300,
        "wires": [
            [
                "d9befb6decaa55a1"
            ]
        ]
    },
    {
        "id": "d9befb6decaa55a1",
        "type": "csv",
        "z": "aeba193998a13412",
        "name": "",
        "spec": "rfc",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 590,
        "y": 300,
        "wires": [
            [
                "88e8d0ea51aaa74c",
                "9f404723222c6d7a"
            ]
        ]
    },
    {
        "id": "88e8d0ea51aaa74c",
        "type": "debug",
        "z": "aeba193998a13412",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 300,
        "wires": []
    },
    {
        "id": "9f404723222c6d7a",
        "type": "switch",
        "z": "aeba193998a13412",
        "name": "",
        "property": "payload.mag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "6",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 790,
        "y": 400,
        "wires": [
            [
                "3c60c343fa4c53ee"
            ]
        ]
    },
    {
        "id": "3c60c343fa4c53ee",
        "type": "change",
        "z": "aeba193998a13412",
        "name": "Change",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "PANIC!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 400,
        "wires": [
            [
                "7783c30659d2f56a"
            ]
        ]
    },
    {
        "id": "7783c30659d2f56a",
        "type": "debug",
        "z": "aeba193998a13412",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 400,
        "wires": []
    }
]